body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #efefef;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f8f8f8;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    border-radius: unset;
}

.button-style {
    color: blue;
}

.set-favorite{
    cursor:pointer;
}

.cuore {
    display: inline-block;
    width: 26px;
    height:26px;
}

.cuore-on{
    background-image:url("images/heart-on.png");
}

.cuore-off{
    background-image:url("images/heart-off.png");
}

.mybtn-style {
    color: white;
    background-color: darkgray;
    border-radius: unset;
    margin-top: 22px;
    float:right
}

.redbtn-style {
    color: white;
    background-color: red;
    border-radius: unset;
}

.mylabel-style {
    color: crimson;
}

.page-header {
    background-color:#f8f8f8;
    margin: 60px 0px 10px 0px;
}

.row-style {
    margin: 10px 0px 10px 0px;
    background-color: #efefef;
}
.banner-style {
    background-image: url("images/banner.png");
    height: 120px;
}

.order-style {
    margin: 10px 0px 0px 0px;
}

select.form-control {
   border-radius: 0px !important;
}

@media (min-width: 1200px) {
   .container {
       max-width: 970px;
   }
}



